
:where(
    .loginsignup-fields,
    .loginsignup-agree
){
    display: flex;
}

.loginsignup {
    width: 100%;
    height: fit-content;
    background: linear-gradient(180deg, #aae5f4, #e1ffea22 60%);
    padding-top: 100px;
    margin-bottom: 2.5rem;
}

.loginsignup-container {
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loginsignup-container h1 {
    margin: 20px 0;
    font-weight: 500;
}

.loginsignup-fields {
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.loginsignup-fields input {
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginsignup-fields {
    gap: 10px;
    margin-top: 20px;
}

.loginsignup-fields :where(
    input[type=text],
    input[type=email],
    input[type=password]
    ){
    height: 50px;
    width: 100%;
    padding-left: 20px;
}

.loginsignup-container button {
    width: 100%;
    height: 72px;
    background: #317889;
    margin-top: 20px;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginsignup-login {
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login span {
    color: #33545c;
    font-weight: 600;
    margin-left: 10px;
}

.loginsignup-agree {
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 14px;
    font-weight: 500;
}

.loginsignup-agree input[type=checkbox]:checked {
    color: #33545c;
}

/* Media Queries */

@media screen and (max-width:800px) {

    .loginsignup {
        height: fit-content;
    }
    
}

@media screen and (max-width:634px) {

    .loginsignup {
        padding: 40px 50px;
        height: max-content;
    }

    .loginsignup-container {
        width: 100%;
    }
    
}

@media screen and (max-width:512px) {
    .loginsignup-container {
        padding: 25px;
        height: fit-content;
    }

    .loginsignup-container h1 {
        font-size: 20px;
    }

    .loginsignup-fields :where(
    input[type=text],
    input[type=email],
    input[type=password]
    )::placeholder{
        font-size: 14px;
    }
    .loginsignup-fields :where(
    input[type=text],
    input[type=email],
    input[type=password]
    ){
        height: 40px;
        font-size: 14px;
    }

    .loginsignup-container button {
        height: 40px;
        font-size: 14px;
    }

    .loginsignup-login {
        font-size: 14px;
    }

    .loginsignup-agree {
        font-size: 11px;
    }
}

@media screen and (max-width:408px) {
    
    .loginsignup {
        padding: 30px 20px;
    }
    
    .loginsignup-agree {
        font-size: 11px;
    }

}