
:where(
    .item-prices
){
    display: flex;
}

.item {
    width: 280px;
}

.item img {
    width: 100%;
}

.item p {
    margin: 6px 0;
}

.item-prices {
    gap: 20px;
}

:where(
    .item-price-new,
    .item-price-old
){
    font-size: 18px;
}

.item-price-new {
    color: #374151;
    font-weight: 600;
}

.item-price-old {
    color: #8c8c8c;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

/* Media Queries */

@media screen and (max-width: 1920px) {
    
    .item {
        width: 340px;
    }

}

@media (max-width: 1280px){
    .item {
        width: 230px;
        font-size: 14px;
    }

    .item p {
        font-size: 13px;
    }

    :where(
        .item-price-old,
        .item-price-new
    ){
        font-size: 14px;
    }
}

@media (max-width: 1024px){
    .item {
        width: 170px;
        font-size: 13px;
    }

    :where(
        .item-price-new,
        .item-price-old    
    ){
        font-size: 13px;
    }
}

@media screen and (max-width:961px) {
    .item {
        width: 240px;
    }   
}

@media (max-width: 800px){
    .item {
        width: 220px;
        font-size: 12px;
    }

    :where(
        .item-price-new,
        .item-price-old    
    ){
        font-size: 12px;
    }
}

@media screen and (max-width:539px) {
    
    .item {
        width: 180px;
    }

}

@media screen and (max-width:482px) {
    
    .item {
        width: 165px;
    }

}

@media screen and (max-width:464px) {
    .item {
        width: 140px;
    }
}

@media screen and (max-width:416px) {

    .item {
        width: 220px;
    }

}

@media screen and (max-width: 376px) {
    
    .item {
        width: 250px;
    }

}